body {
    background-color: #0c0b0b;
    background-image: url("../img/truck-resize.jpg");
    background-repeat: no-repeat;  
    
}

#background {
    padding: 40px;
    background: linear-gradient(
    to bottom,
    rgba(217, 236, 149, 0.3) 0,
    rgba(78, 102, 76, 0.7) 75%,
    #223838 100%
  ) 
}

.content {
    background-color: whitesmoke;
    padding-bottom: 100px;
    margin-top: 0;
}
.header {
    color: whitesmoke;
    height: 144px;
}
li {
    padding: 5px;
    margin: 5px;
    list-style: none;
}
hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}
.text-color {
    color: rgb(32, 32, 34);
    
}
.avail-col {
    background-color: #e0e4d7;
}
.avail-col h4 {    
    background-color: #575f5a;
    color: #e3e7e5;
}
.devour-col {
    background-color: #e0e4d7;

}
.devour-col h4 {    
    background-color: #575f5a;
    color: #e3e7e5;
}